
body{
    background-color: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 900px;
}

.card{
    background: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    padding: 30px;
}

h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.form-control{
    border-radius: 8px;
    padding: 10px;
}

.form-label{
    font-weight: bold;
    color: #555;
}

.btn{
    border-radius: 8px;
}

.table{
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.table thead{
    background: #0d6efd;
    color: white;
}

.table td,
.table th{
    vertical-align: middle;
}

.alert{
    border-radius: 8px;
}

.btn + .btn{
    margin-left: 5px;
}

.detalhe{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
    margin-bottom: 12px;

    background-color: #f8f9fa;
    border-left: 5px solid #0d6efd;
    border-radius: 8px;

    transition: .2s;
}

.detalhe:hover{
    background-color: #eef4ff;
}

.detalhe strong{
    color: #555;
    font-size: 16px;
}

.detalhe span{
    color: #212529;
    font-size: 16px;
    font-weight: 600;
}

.card hr{
    margin: 25px 0;
}